@import "tailwindcss";
@import "./variables.css";

html,
:host {
	line-height: 1;
}

@theme {
	--color-gray-1: var(--color-gray-1);
	--color-gray-2: var(--color-gray-2);
	--color-gray-3: var(--color-gray-3);
	--color-gray-4: var(--color-gray-4);
	--color-gray-5: var(--color-gray-5);
	--color-gray-6: var(--color-gray-6);
	--color-gray-7: var(--color-gray-7);
	--color-gray-8: var(--color-gray-8);
	--color-gray-9: var(--color-gray-9);
	--color-gray-10: var(--color-gray-10);
	--color-gray-11: var(--color-gray-11);
	--color-gray-12: var(--color-gray-12);
}
